<div class="container">
	<section class="about-me">
		<div class="about-me-container">
			<div class="about-skills-container">
				<div class="about-icons">
					<img src="assets/figma.png" alt="" />
					<img src="assets/sketch.png" alt="" />
					<img src="assets/ps.png" alt="" />
				</div>
				<strong class="portfolio__sub-heading">Any Design</strong>
				<p>
					🎨 Transforming design into responsive web magic! With a mastery of
					PSD, AI, and Figma, I breathe life into visuals and create seamless
					online experiences. Let's bridge the gap between art and code for
					stunning, user-friendly websites.💻✨
				</p>
			</div>
			<div class="about-skills-container">
				<div class="about-icons">
					<img src="assets/edit.png" alt="" />
					<img src="assets/code.png" alt="" />
				</div>
				<strong class="portfolio__sub-heading">Code Maestro</strong>
				<p>
					🌐 Crafting the future, one line of code at a time! With expertise in
					Angular, React.js, and JavaScript, I specialize in building dynamic,
					user-centric web applications. Let's collaborate to turn your digital
					visions into interactive realities! 💻✨
				</p>
			</div>
			<div class="about-skills-container">
				<div class="about-icons">
					<img src="assets/time.png" alt="" />
				</div>
				<strong class="portfolio__sub-heading">24 Hrs Support</strong>
				<p>
					🌟 Always at your service, 24/7, for seamless solutions! Whether it's
					design, development, or any tech challenge, I'm here 'round the clock
					to ensure your digital dreams stay afloat. Your success is my mission,
					anytime, anywhere. 💡🔧
				</p>
			</div>
		</div>
	</section>
</div>
