.hero-banner {
	background-image: url('src/assets/hero-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: +1;
	padding: 80px;
	overflow: hidden;
	border-radius: 10px;
	height: calc(100vh - 90px);
}

.hero-banner::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #e2eff2b0;
	left: 0;
	top: 0;
	z-index: -1;
}

.hero-heading {
	font-size: 45px;
	color: #203656;
	font-family: 'Inter';
	font-weight: bolder;
	line-height: 60px;
	margin-bottom: 21px;
	text-transform: uppercase;
}

.hero-heading > span {
	font-weight: bolder;
}
span.intro {
	display: block;
}

.hero-heading > span.content-keyword {
	/* color: #ff5973; */
	color: #667eea;
	/* background-color: #667eeaa1;
	border: 3px dashed #667eea; */
	text-transform: uppercase;
	padding: 5px;
	font-weight: bolder;
}

.banner-content p {
	color: #44566c;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 51px;
}

.experties {
	margin-top: 52px;
	padding: 0;
}

.experties > li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	color: #44566c;
	font-size: 15px;
	font-weight: 500;
}

.experties > li img {
	display: inline-block;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.banner-content {
		text-align: center;
	}
	.hero-heading {
		font-size: 43px;
	}
	.banner-content.hero-image {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.hero-heading {
		font-size: 27px;
		line-height: 1.3;
		font-weight: bolder;
	}
	.hero-heading span.content-keyword {
		background-color: transparent;
		border: none;
	}
	.hero-banner {
		padding: 30px;
		height: 100vh;
	}

	.banner-content p {
		margin-bottom: 20px;
	}
	.experties {
		margin: auto;
		margin: 20px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
	}

	.experties li {
		margin: auto;
		font-size: 13px;
	}

	.experties li img {
		margin-right: 1px;
	}

	.banner-content {
		overflow: hidden;
	}
	.banner-content.hero-image {
		display: block;
	}

	.banner-content.hero-image img {
		width: 100%;
	}
}
