<div class="container">
	<section class="hero-banner">
		<div class="row">
			<div class="col-sm-6">
				<div class="banner-content banner-details">
					<h1 class="hero-heading">
						<span class="intro">HI, I'M IBRAR!</span>
						<span class="ability">CREATIVE</span>
						<span class="content-keyword" [ngStyle]="{ color: getColor() }">{{
							currentKeyword
						}}</span>
					</h1>
					<p>
						🚀 Crafting digital dreams for over 5 years! As a versatile
						developer, coder, programmer, and designer, I'm the wizard behind
						the screen, weaving lines of code into beautiful user experiences.
						With a passion for innovation and an eye for aesthetics, I'm your
						go-to creator for turning ideas into reality. Let's collaborate and
						bring your vision to life, one pixel at a time!
					</p>
					<app-primary-button></app-primary-button>

					<ul class="experties">
						<li>
							<img src="assets/check.svg" alt="" /><span>Quality Code</span>
						</li>
						<li>
							<img src="assets/check.svg" alt="" /><span>Pixel Perfect</span>
						</li>
						<li>
							<img src="assets/check.svg" alt="" /><span>Modern Layouts</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="banner-content hero-image">
					<img src="assets/heroo.png" alt="" />
				</div>
			</div>
		</div>
	</section>
</div>
