<div class="container">
	<app-main-heading
		[mainHeading]="'Articles'"
		[isAll]="true"
		[routerLink]="'articles'"
	></app-main-heading>

	<div class="blogs-section">
		<div
			class="blogs-container"
			*ngFor="let blog of getLatestBlogs(); let i = index"
		>
			<div class="blog-image">
				<div class="blog-category-container">
					<span
						class="blog-category"
						[ngStyle]="{
							backgroundColor: getColor(i)
						}"
						>{{ blog.category }}</span
					>
				</div>
				<img
					[src]="'http://72.255.1.111:8000/uploads/' + blog.blog_snaps"
					alt=""
				/>
			</div>
			<div class="content-area">
				<div class="blog-content">
					<strong class="portfolio__sub-heading">{{ blog.title }}</strong>
					<p>{{ blog.description }} ...</p>
				</div>
			</div>
			<div class="blog-info">
				<div class="date-time">
					<span class="created-date"
						><i class="bi bi-calendar2-event"></i> {{ blog.createdAt | date }}
					</span>
					<span class="created-date"
						><i class="bi bi-alarm"></i> {{ blog.readingTime }} min read</span
					>
				</div>

				<a [routerLink]="['../articles', blog._id]" target="_blank"
					>Read more <i class="bi bi-arrow-right-short"></i>
				</a>
			</div>
		</div>
	</div>
</div>
