<div class="container">
	<app-sub-banner
		*ngIf="blog"
		[mainHeading]="blog.title"
		[routeName]="'Articles '"
	></app-sub-banner>

	<div class="row">
		<div class="col-sm-9">
			<div class="blog-container" *ngIf="blog">
				<div class="blog-image-holder">
					<img
						[src]="'http://localhost:5000/uploads/' + blog.blog_snaps"
						alt=""
					/>
				</div>

				<div class="content-holder">
					<span
						class="category"
						[ngStyle]="{
							backgroundColor: getBGcolor(0),
							color: getTEXTcolor(getBGcolor(0))
						}"
						>{{ blog.category }}</span
					>
					<h1>
						{{ blog.title }}
					</h1>
					<div class="date-time">
						<span class="created-date"
							><i class="bi bi-calendar2-event"></i> {{ blog.createdAt | date }}
						</span>
						<span class="created-date"
							><i class="bi bi-alarm"></i> {{ blog.readingTime }} min read</span
						>

						<span class="created-date"
							><i class="bi bi-eye"></i> {{ blog.views + 1 }} views</span
						>
					</div>
					<p class="main-content">{{ blog.description }}</p>
					<div id="main-content" [innerHTML]="sanitizedResponse"></div>

					<ul class="blog-tags">
						<strong class="portfolio__sub-heading">Related Tags</strong>
						<li *ngFor="let tag of blog.tags">{{ tag }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<app-right-bar></app-right-bar>
		</div>
	</div>
</div>
